---
import '@/styles/global.css'
import Navbar from '../components/layout/Navbar.astro';
import Footer from '../components/layout/Footer.astro';

interface Props {
  title?: string;
  description?: string;
}

const { title = "NINDEPALM — Premium Coconut Sugar Exporter", description = "Delivering natural sweetness with integrity. Premium organic coconut sugar from Central Java." } = Astro.props;
---

<!doctype html>
<html lang="id" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- Social Meta Tags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
  </head>
  <body class="bg-amber-50 text-amber-800 min-h-screen flex flex-col font-body">
    <Navbar />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>
